In [1]:
import pandas as pd

In [2]:
zomato = pd.read_csv("zomato.csv", encoding="latin-1")

In [3]:
zomato.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

In [4]:
zomato = zomato[[
    'Restaurant Name',
    'City',
    'Cuisines',
    'Average Cost for two',
    'Price range',
    'Aggregate rating',
    'Votes',
    'Has Online delivery',
    'Has Table booking'
]]

In [5]:
zomato = zomato.rename(columns = {
    'Restaurant Name': 'restaurant_name',
    'City': 'city',
    'Cuisines': 'cuisines',
    'Average Cost for two': 'avg_cost_for_two',
    'Price range': 'price_range',
    'Aggregate rating': 'rating',
    'Votes': 'votes',
    'Has Online delivery': 'online_delivery',
    'Has Table booking': 'table_booking'
})

In [6]:
def clean_city_name(city):
    if pd.isna(city):
        return city
    city = city.lower().strip()
    city = city.replace("bengaluru", "bangalore")
    city = city.replace("new delhi", "delhi")
    city = city.replace("gurugram", "gurgaon")
    city = city.replace("noida", "noida")  # keep same
    return city

zomato['city_clean'] = zomato['city'].apply(clean_city_name)

In [7]:
zomato['rating'] = pd.to_numeric(zomato['rating'], errors='coerce')
zomato['votes'] = pd.to_numeric(zomato['votes'], errors='coerce')

In [8]:
zomato = zomato.dropna(subset=['rating', 'votes'])

In [9]:
zomato.sample(5)

,restaurant_name,city,cuisines,avg_cost_for_two,price_range,rating,votes,online_delivery,table_booking,city_clean
2109,The Kathis,Gurgaon,"North Indian, Street Food",300,1,3.8,48,Yes,No,gurgaon
7184,Le ROFL,New Delhi,"Cafe, Continental, Chinese, Italian",1200,3,3.8,177,Yes,Yes,delhi
5812,Wrapss,New Delhi,"Chinese, Fast Food",350,1,0.0,1,No,No,delhi
1809,Konetto Pizza,Gurgaon,Pizza,150,1,0.0,0,No,No,gurgaon
64,Gopala Hari,SÃ­Â£o Paulo,Indian,70,3,3.1,5,No,No,sÃ­Â£o paulo

In [10]:
zomato['city_clean'].nunique()

141

In [11]:
zomato['city_clean'].value_counts().sample(10)

city_clean
indore          20
hyderabad       18
sandton         11
nagpur          20
brasÃ­_lia       20
guwahati        21
gurgaon       1118
macon           20
lincoln          1
des moines      20
Name: count, dtype: int64

In [12]:
# Remove rows with any missing value

zomato = zomato.dropna()

In [13]:
# Verify

zomato.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9542 entries, 0 to 9550
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   restaurant_name   9542 non-null   object
 1   city              9542 non-null   object
 2   cuisines          9542 non-null   object
 3   avg_cost_for_two  9542 non-null   int64
 4   price_range       9542 non-null   int64
 5   rating            9542 non-null   float64
 6   votes             9542 non-null   int64
 7   online_delivery   9542 non-null   object
 8   table_booking     9542 non-null   object
 9   city_clean        9542 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 820.0+ KB

In [14]:
# Save cleaned data

zomato.to_csv("zomato_cleaned.csv", index=False)